<header class="header" style="position: absolute; left: 0; top: 0; min-width: 640px; padding: 3px;">

    <!-- LOGO -->
    <div class="header-logo">
        <img src="./Content/images/header.png"/>
    </div>

    <!--SEARCHBOX-->
    <div class="dashboard-top-elements pull-right"
         style="position: relative; display: inline-block; width: 480px; vertical-align:middle;"
         data-bind="compose: {model:search, cacheViews: true}"></div>

</header>

<!--Map-->
<div data-bind="compose: {model:map, cacheViews: true }"></div>

<div data-bind="compose: { model: 'viewmodels/busy' }"></div>
<div data-bind="compose: { model: 'viewmodels/block' }"></div>